
@{
    ViewBag.Title = "employees";
}

<h2>RETURNING CARS</h2>

<form action="/cars/returning" method="get">
    Insert customer ID: <input name="userId" type="text" /><br />
    Insert car number: <input name="carNumber" type="text" /><br />
    <input id="Submit1" type="submit" value="submit" />
</form>
